/* Loader.module.css */

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 99;
}

.loadingText {
  font-family: cursive;
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.spinner {
  margin-top: 20px;
}
