
.heading1 {
  margin-top: 20px;
  font-family: cursive;
  text-shadow: 1px 1px 3px black;
  background-color: #c9c9c9;
  border-radius: 10px;
  /* font-size: 1rem; */
  padding: 10px;
  text-decoration: none;
  box-shadow: 1px 1px 2px black, -1px -1px 2px black;
}
.slogan {
  animation: fadeInOut 2s infinite;
  font-size: 2.5rem;
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}
.fldset {
  border: 1px solid #7d7d7d;
  border-radius: 10px;
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #343434;
  padding: 12px;
}
.container {
  min-height: 100vh;
  width: 89%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 0;
}
input {
  margin: 10px;
  /* box-shadow: -1px -1px 2px black;*/
  box-shadow: 1px 1px 2px black;
}
.labl {
  font-size: 18px;
  font-weight: 500 !important;
}
/* RADIO INPUTS */
input[type="radio"] {
  box-shadow: none;
  width: 20px;
}
.radioImage {
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 5px black;
}
.radioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paw1 {
  position: absolute;
  right: -5%;
  top: 10%;
  z-index: -1;
}
.paw2 {
  position: absolute;
  top: 75%;
  z-index: -1;
}
.paw3 {
  position: absolute;
  left: -30%;
  top: 12%;
}
.paw4 {
  position: absolute;
  top: 65%;
  right: -5%;
  z-index: -1;
}
.create {
  border-radius: 14px;
  background: #333333;
  box-shadow: 2px 3px 4px black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-top: 0.675rem;
  font-size: 24px;
  font-weight: 700;
  /* border: 2px solid #7d7d7d; */
  outline: 0;
  color: white;
  /* width: 250px; */
}
.errtext {
  font-size: 0.8rem;
  position: absolute;
  top: 95%; /* Adjust as needed */
  color: red;
}
