

.animate-fadeInOut {
  animation-name: fadeInOut;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}
