//do_not_put_quptes_around_values
REACT_APP_BACKEND_URL= https://paws-backend.azurewebsites.net


//firebase
REACT_APP_FIREBASE_API_KEY= your firebase api key
REACT_APP_FIREBASE_AUTH_DOMAIN= your firebase auth domain
REACT_APP_FIREBASE_PROJECT_ID= your firebase project id
REACT_APP_FIREBASE_STORAGE_BUCKET= your firebase storage bucket
REACT_APP_FIREBASE_MESSAGING_SENDER_ID= your firebase messaging sender id
REACT_APP_FIREBASE_APP_ID= your firebase app id
REACT_APP_FIREBASE_MEASUREMENT_ID= your firebase measurement id

//google maps
REACT_APP_GOOGLE_MAPS_API_KEY=AIzaSyBBUSExqFtg19K7UZQ4LzGE7MygnoxibRo

//cloudinary(image upload)
REACT_APP_CLOUDINARY_UPLOAD_URL=https://api.cloudinary.com/v1_1/dff97ky68/upload
REACT_APP_CLOUDINARY_UPLOAD_PRESET=mnxkqfco
//vapid
REACT_APP_VAPID_KEY=  your vapid key