.profile{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    justify-content: space-between;
   /* border-bottom: 0.1px solid #dadada; */
   /* box-shadow: 1px 1px 3px black; */
   padding-bottom: 10px;
}
.profile img{
    box-shadow: 2px 2px 5px black;
    border-radius: 50%;
}
.username{
    width: 60%;
    font-size: 1.5rem;
}
.text{
    /* color: red; */
    font-weight: normal;
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-top: 2px solid #cbcbcb;
}
.text b{
    font-size: 1rem;
}
.container{
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    width: 95%;
    padding: 20px;
    box-shadow: 1px 1px 3px black;
    background-color: #ebebeb;
}
.details{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    gap: 10px;
}