* {
    margin: 0;
    padding: 0%;
}

.hero {
    height: 100%;
    width: 100%;
    padding-bottom: 160px;
    background-color: #40ff10;
}

.formBox {
    width: 390px;
    height: 740px;
    margin: 6% auto;
    background-color: #9ece85;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 1px;
}

.buttonBox {
    width: 340px;
    margin: 15px auto;
    position: relative;
    box-shadow: 0 9px 20px 9px #4b7b021f;
    border-radius: 40px;
}

.togglebtn {
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    transition: background 0.5s ease;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, #79f917, #1e5f02);
    border-radius: 30px;
    transition: 0.5s;
}

.usText,
.ngoText {
    position: relative;
    width: 280px;
    transition: 0.5s;
    padding-top: 150px;
    padding-left: 40px;
}

.paragraph {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 6px solid #000000;
    outline: none;
    background: transparent;
    font-weight: bold;
    padding-left: 15px;
    font-size: 30px;
    color: white;
}

.submitbtn {
    width: 85%;
    padding: 20px 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,  #79f917, #297a06);
    border: 4px solid black;
    outline: none;
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    
}

.donateBtn {
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxbutton{
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 40px;
}
.ngoText select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 4px solid #3fe80b;
    border-radius: 8px;
    background-color: #fff;
    color: #555;
    font-size: 20px;
    text-transform: capitalize;
    outline: none;
    transition: border-color 0.3s;
}
.ngoText select:focus {
    border-color: #40ff10; /* Change the color to your preference */
}
.togglebtn.active {
    background: linear-gradient(to right, #79f917, #3ec106);
}
.lin{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 30px;
    font-weight: bolder;
    font-size: 20px;
}
