.masterContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #cae37f;
  padding: 1rem;
  gap: 1rem;
}

.card {
  width: 300px; /* Set the width of the card */
  height: 400px; /* Set the height of the card */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 10px;
}