.heading {
    position: relative;
    border-radius: 20px;
    background-color: #c4c29d;
    text-align: center;
    padding: 20px 5px;
    box-shadow: 1px 1px 2px black;
  }
  .imgContainer img{
    z-index: 3;
    position: absolute;
    top: -6px;
    left: 22px;
    width: 90%;
    object-fit: contain;
    height: 100px;}
    @media (max-width: 400px) {
        .masterContain img {
            top: -85px;
            left: 3px;
            width: 100%;
        }
    }

.imgContainer{
    position: relative;
    padding-top: 80px;
}
.someThing{
    animation: fadeInOut 2s infinite ;
    font-size: 1.5rem;
    
}
@keyframes fadeInOut {
    0%, 100% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
  }

.formBox {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #adbd7f;
    padding: 0 10px;
}

.buttonBox {
    width: 340px;
    margin: 15px auto;
    position: relative;
    background-color: #adbd7f96;
    box-shadow: 2px 2px 20px #6b754f;
    border-radius: 40px;
    box-shadow: 1px 1px 2px black;
}

.togglebtn {
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    transition: transform 0.6s ease;
    border-radius: 40px;
    font-size: 20px;
}
.togglebtn.active {
    transform: scale(1.1);
    background-color: #c4c29d; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.textContainer{
    margin-top: 40px;
    width: 95%;
    background-color: #c4c29d;
    border-radius: 40px;
    padding: 15px 2px;
    box-shadow: 1px 1px 2px black;
}
.usText,
.ngoText {
    display: flex; 
     flex-direction: column;
    align-items: center;
}

.paragraph {
    outline: none;
    background: transparent;
    font-weight:500;
    padding-left: 15px;
    font-size: 22px;
}
.common{
    outline: none;
    width: fit-content;
    background: transparent;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
    font-size: 28px;
    margin-bottom: 10px;
}
.common::before{
    content: "";
    border-left: 2px solid black;
    width: 240px;
    height:42px;
    background: #c4c29d;
    position:absolute;
    z-index: 1;
    animation: show 3s steps(30) 0.1s  forwards;
    }
    @keyframes show {
    0% {
        transform: translateX(0px);
    }
    99% {
        border-left: 2px solid black;
    }
    100% {
        transform: translateX(240px); /* End position */
        border-left: 2px solid transparent;
        width: 0; /* Decrease width to 0 */
    }
}
.submitbtn {
    width: 85%;
    padding: 20px 50px;
    cursor: pointer;
    outline: 0;
    border: 0;
    text-align: center;
    box-shadow: 1px 1px 2px black;
    border-radius: 30px;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donateBtn {
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxbutton{
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 40px;
}
.ngoText select {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #fff;
    color: #555;
    font-size: 20px;
    text-transform: capitalize;
    outline: none;
    transition: border-color 0.3s;
}
.ngoText select:focus {
    border-color: #40ff10; /* Change the color to your preference */
}

.lin{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
