.heading {
    color: #121212;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.container {
    position: relative;
    background: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
}
form {
    position: absolute;
    height: auto;
    top: 10%;
    display: flex;
    flex-direction: column;
    gap: 34px;
}



img {
    width: 263.672px;
    height: 273.438px;
    flex-shrink: 0;
    z-index: 0;
}
.paw1 {
    position: relative;
    right: -15%;
    top: -10%;
}
.paw2 {
    position: relative;
    /* right: -15%; */
    top: 60%;
    z-index: -1;
}
.errtext {
    color: red;
    position: absolute;
    bottom: 43%;
}
.text {
    position: absolute;
    bottom: -14%;
    color: #989898;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}
.LoginNow {
    color: #272730;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-inline: 0.23rem;
}
label {
    position: absolute;
    bottom: 11%;
    margin-left: 1rem;
}
