/* AnimalDetailsPage.module.css */

.hovAni {
    border: 2px solid red;
    transform: scale(2);
  }
  
  .hovAni:hover {
    animation: oscillate-right 0.5s ease-in-out forwards;
  }
  
  @keyframes oscillate-right {
    0% {
      transform: translateX(0) rotate(0deg);
    }
    50% {
      transform: translateX(20px) rotate(10deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
  }
  