::-webkit-scrollbar {
    display: none;
}

input[type="radio"]:checked+label img {
    border: 7px solid #37bfc99b;
    /* border: 8.12px solid rgba(255, 255, 255, 1); */
    box-shadow: 6px 5px 2px 2px rgba(0, 0, 0, 0.2);
}