.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
    transform: translate3d(0, 0, 0);
}
  
.preloader-animation {
    width: 400px;
    height: 400px;
}
  
.preloader.fade-in {
    opacity: 1;
}
  
.preloader.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}