/* InputField.module.css */
/* .input {
  display: flex;
  height: 46px;
  padding: 10px 17px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  color: black;
  font-size: large;
  border: 1px solid #b6b5b5;
  background: #dedede;
}
.input::placeholder {
  color: #989898;
  font-size: 1.15rem;
  font-family: cursive;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
} */

.inputArea {
  display: flex;
  height: 80px;
  width: 300px;
  align-self: center;
  padding: 10px 17px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  color: black;
  font-size: large;
  border: 1px solid #b6b5b5;
  background: #dedede;
  box-shadow: 1px 1px 2px black;
  margin: 10px;
}
.inputArea::placeholder {
  color: #989898;
  font-size: 1.15rem;
  font-family: cursive;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
