.main {
    background: #adbd7f;
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    color: black;
    position: relative;
}
.heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.para {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    width: 90%;
    margin-inline: auto;
    color: #0011ff;
    cursor: pointer;
    text-decoration: underline;
}

.wrap {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.modal {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modalText {
    font-size: 14px;
    font-family: cursive;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin: 20px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.customButton {
    border-radius: 12px;
    background: white;
    width: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    padding: 10px 36px;
    color: #333;
    border: 1px solid #333333;
    margin-top: 0.675rem;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background 0.3s ease, color 0.3s ease; 
}

.customButton:hover {
    background: #333333;
    color: white;
}

.spinners_wrap{
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}