.masterContainer {
    color: #2d2d2d;
    background-color: #adbd7f;
    height: calc(100vh - 45px);
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}
p {
    margin-bottom: 0px;
    font-size: 1.2rem;
    font-weight:600 ;
}
h1 {
    text-align: center;
    padding-bottom: 3px;
    text-decoration: #333333 underline;
    /* margin-bottom: 16px; */
}
.masterContainer label {
    font-size: 1.1rem;
}
.container img {
    border-radius: 50%;
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 5px black;
}
.container input[type="radio"]:checked + label img {
    border: 4px solid #232d34;
}

.container {
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #c4c29d;
    border: 3px;
    box-shadow: 1px 1px 2px black;
}
/* OPTION: Others */
.specify {
    padding-top: 18px;
    font-size: 22px !important;
    display: flex;
    align-items: center;
    gap: 2px;
}

.specify input {
    width: 50%;
    height: 1.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #2c3022;
}
/* HOW AMNY ANIMALS */
.radioOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
input[type="radio"] {
    width: 25px;
    height: 25px;
}
/* DESCRIPTION */
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.description textarea {
    align-self: center;
    border-radius: 10px;
    font-size: larger;
    background-color: #D9D9D9;
    color: #2d2d2d;
    width: 90%;
    padding: 10px;
    height: 100px; /* Set a fixed height */
}
/* SEVERITY */
.severity {
    margin-top: 5px;
    width: fit-content;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.severity label {
    font-size: 1.3rem;
}
.wrapSeverity {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
/* BUTTONS */
.bttnContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.bttn {
    font-size: 1.3rem;
    color: #2c3022;
    border: 2px solid #2d2d2d;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    width: 108px;
    height: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, color 0.3s ease;
}
.bttn:hover {
    background: #333333;
    color: white;
}

.error {
    font-size: 15px;
    color: #ff4444;
}
