.container {
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background: linear-gradient(to bottom, #adbd7f, #b1ddab);
    color: #000;
}
.errtext {
  font-size: 1rem;
  /* position: relative; */
  z-index: 99;
  top: 95%; /* Adjust as needed */
  color: red;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container > h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.detailWrap {
    display: flex;
    flex-direction: column;
    width: 87vw;
    height: auto;
}
.detailWrap {
    margin-left: 10px;
    font-size: small;
    margin-bottom: 10px;
}

.next {
    border-radius: 12px;
    background: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px 36px;
    color: #333;
    border: 1px solid #333333;
    margin-top: 0.675rem;
    font-size: 1.3rem;
    font-weight: 700;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, color 0.3s ease;
}
.next:hover {
    background: #333333;
    color: white;
}
.description textarea {
    align-self: center;
    border-radius: 10px;
    font-size: medium;
    background-color: #d9d9d9;
    color: #2d2d2d;
    width: 100%;
    padding: 10px;
    max-height: 100px; /* Set a fixed height */
    border: 3px solid #0a6d06;
}
.description {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
