.heading {
    text-decoration: none;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    padding: 10px 5px;
    width: 360px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .masterContainer{
    margin-bottom: 60px;
  }
.conatiner{
    display: flex;
    width: 90%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    /* border-bottom: 1px solid gray; */
    box-shadow: 1px 1px 2px black;
    margin: 10px;
    border-radius: 10px;
}
.contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    /* width: 70%; */
}
.smal{
    color: teal;
    font-size: 14px;
    margin-top: 5px;
}
/* .description{
  font-size: 12px;
  font-weight: normal;
} */

.skeltonContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }