.text {
  position: absolute;
  color: #989898;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.LoginNow {
  color: #272730;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
  margin-inline: 0.23rem;
}
