
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #F2F2F2; 
  padding:10px  20px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px; 
  width: 100%;
  max-width: fit-content; 
}
.profilepic{
width: fit-content;
height: fit-content;
padding: 10px;
}
.username,
.email,
.phone,
.levels,
.coins {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
  font-size: 22px;
  gap: 5px;
}

.username span,
.email span,
.phone span,
.levels span,
.coins span {
  margin-left: 5px;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userDetails a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Dark gray text color */
  font-size: 18px;
  font-weight: bold;
}

.userDetailsContainer{
  display: flex;
  flex-direction: column;
  border-radius: 25px; /* Rounded corners */
  padding: 20px;
  margin-bottom: 20px;
  height: fit-content;
 width: fit-content;
 background-color: #e0e0e0; 
 box-shadow:1px 2px 2px black ;
}
.btnContainer{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.button {
  outline: 0;
  border: 0;
  background-color: #cac7c7; 
  width: fit-content;
  height: fit-content;/* White background */
  border-radius: 20px; /* Rounded corners */
  padding: 15px 20px; /* Padding for spacing */
  box-shadow:1px 2px 2px black;

}
