
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'VarelaRound';
  src: url('/fonts/VarelaRound-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bayon';
  src: url('/fonts/bayon.ttf') format('truetype');
}

@font-face {
  font-family: 'BreeSerif';
  src: url('/fonts/BreeSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Chau Philomene One';
  src: url('/fonts/ChauPhilomeneOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/fonts/BaiJamjuree.ttf') format('truetype');
}

@font-face {
  font-family: 'Calistoga';
  src: url('/fonts/Calistoga-Regular.ttf') format('truetype');
}

.rodal-dialog {
  background: linear-gradient(0deg, #c1dcf6 0%, #cce1f7 10%, #caeaee 100%) !important;
  border-radius: 1.5rem !important;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.container {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 90px;
  padding: 1rem; /* Added padding for better spacing */
}

@media (max-width: 800px) {
  .container {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 20px;
    padding: 1rem;
  }
}

.form-container {
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-top: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 2em; /* Adjusted font size */
  color: #ffffff;
}

.input-field {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eaeaea;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.error-message {
  margin-top: 10px;
  text-align: center;
  color: #ff5555;
}

.additional-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additional-links a {
  color: #ffffff;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .container {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}